.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.header {
  text-align: center;
  margin-bottom: 3rem;
}
.board {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.score {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
