.card {
  border-radius: 5px;
  width: 24%;
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.closed-card {
  background-color: var(--main-color);
}

.no-card {
  width: 100%;
  height: 100%;
  border: none;
  cursor: default;
}
