.card {
    border-radius: 5px;
    width: 24%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-color);
}

.closed-card {
    background-color: var(--main-color);
}