@import url('https://fonts.cdnfonts.com/css/formular');

:root {
  /* main color scheme */
  /* --main-color: #0083fc;
  --accent-color: #f53;
  --secondary-color: #e6e6e6; */

  /* christmas color scheme */
  --main-color: #2e7d32; /* Green */
  --accent-color: #d32f2f; /* Deep Red */
  --secondary-color: #1e88e5; /* Royal Blue */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Formular', sans-serif;
  color: var(--main-color);
  text-transform: uppercase;
}
