@import url('https://fonts.cdnfonts.com/css/formular');

:root {
  --main-color: #0083fc;
  --accent-color: #f53;
  --secondary-color: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Formular', sans-serif;
  color: var(--main-color);
  text-transform: uppercase;
}
